<div class="container-fluid ">
    <div class="row mb-5">
        <!-- Account Selector Component -->
        <app-table [headers]="headers" [dataSource]="accounts$ | async">
            <a routerLink="" class="text-muted text-decoration-none">ALL ACCOUNTS</a>
        </app-table>
    </div>
    <div class="row">
        <!-- wallet-component -->
        <div class="col-8">
            <div class="row px-2 py-4">
                <div class="d-flex col align-items-center">
                    <img src="./assets/icons/wallet.svg" srcset="" height="36px" class="me-2"> <span
                        class="h4 fw-bold align-text-bottom mt-2">Wallet</span>
                </div>
            </div>
            <app-cards-list [accounts]="accounts$ | async"></app-cards-list>
        </div>
        <!-- Budget Component -->
        <div class="col-4">
            <div class="row px-2 py-4 ">
                <div class="d-flex col align-items-center">
                    <img src="./assets/icons/wallet.svg" srcset="" height="36px" class="me-2" />
                    <span class="h4 fw-bold align-text-bottom mt-2">Budget</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-budget [accounts]="accounts$ | async"></app-budget>
                </div>
            </div>
        </div>
    </div>
</div>