.container__overflowx {
  overflow-x: hidden;
}

.circle-image {
  border-radius: 50%;
}

.profile-img {
  width: 100px;
  height: 100px;
}

.ng-touched.ng-invalid {
  @extend .is-invalid;
}

.modal-container.body__container.bg-dark{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  border: white 1px solid;
}


// ng-select

.ng-select{
  padding-bottom: .5em;
  padding-top: .5em;
}

.ng-option {
  color: white !important;
}

.ng-arrow {
  border-color: transparent transparent #fff !important;
  &:hover {
    border-color: transparent transparent #fff !important;
  }
}

.ng-arrow-wrapper {
  &:hover {
      .ng-arrow {
          border-top-color: #fff !important;
      }
  }
  .ng-arrow {
      border-color: #fff transparent transparent !important;
  }
}

.ng-input>input{
  color: #fff !important;
}
// ng-select