<div class="container-fluid shadow rounded g">
  <div class="row">
    <div class="col px-3 mt-2 py-2 text-muted">
      <span (click)="handlerHeaderLink.handleClick($event)">{{handlerHeaderLink.linkText}}</span>
    </div>
  </div>
  <div class="row table-separator">
    <div class="col px-0">
      <div class="table-responsive caption-top">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-primary"></th>
              <th *ngFor="let header of headers" scope="col" class="text-primary">{{header.label}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataSource" id="1" (click)="handleRowClick($event)">
              <th *ngIf="item.icon" scope="row" class="text-center"><i [class]="item.icon"></i></th>
              <td *ngFor="let header of headers">{{ item[header.key] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>