<svg xmlns="http://www.w3.org/2000/svg" class="arc-progress" [attr.height]="arcSize" [attr.width]="arcSize">
      <path class="progress-background" [attr.d]="drawnArc(positionX, positionY, arcRadius, -arcStart, arcStart)"
            [attr.stroke]="arcBackgroundColor" [attr.stroke-width]="arcStrokeWidth" />
      <path class="progress-fill" [attr.d]="drawnArc(positionX, positionY, arcRadius, -arcStart, arcStart)"
            [attr.stroke-dasharray]="strokeDashArray" [attr.stroke-dashoffset]="fillValue"
            [attr.stroke]="arcProgressColor" [attr.stroke-width]="arcStrokeWidth" />
      <text>0</text>
</svg>
<div class="budget-information text-center">
      <img src="./assets/icons/credit-card.svg" height="18px" width="18px" alt="">
      <br />
      <span>You'are spent</span>
      <br />
      <span class="h2">$6,344.33</span>
      <br />
      <pre>of <span class="fw-bold">$3,248</span></pre>
</div>