<div class="container">
  <div class="modal-header border-0 bg-dark text-white">
    <h2 class="fw-bold"><i class="fas fa-adjust"></i> Dream Bank</h2>
  </div>
  <div class="modal-body bg-dark text-white body__container">
    <div class="sucess-message__container">
        <h5>
            <span class="border-0 border-info border-bottom">New product</span>
        </h5>
      <h1 class="fw-bold py-2">Request Sucess</h1>
      <p class="text-break py-1 lh-1 mb-4">
        Your order has been sent successfully. <br />
        an advisor will contact you soon.
      </p>
      <a class="btn btn-info text-white w-100" routerLink="/" (click)="this.activeModal.close()">Go Home</a>
    </div>
  </div>
</div>
