.searchbox{
    width: 100%; 
    line-height: 24px;
    background-color: transparent;
    outline: none;
    border: turquoise 1px solid;
    border-radius: .5em;
    color: white;
    padding: 0.5em;
}