<div class="container p-0">
    <div class="row mb-4">
        <div class="col">
            <div class="card bank-card" [ngClass]="bgclass">
                <div class="card-body">
                    <div class="container-fluid p-0">
                        <div class="row mb-2">
                            <div class="col">
                                <div class="col">
                                    <img src="/assets/icons/mc_symbol.svg" height="36px"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-5">
                                <span class="h4">{{productNumber}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                {{ownerName | uppercase}}
                            </div>
                            <div class="col-4">
                               <span class="m-auto">
                                {{ expirationDate }}
                               </span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-between  fw-bold">
            <div>Remaining Amount</div> <div>%{{remainingAmount}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="progress">
                <div class="progress-bar bg-info" [ngStyle]="{'width': progress.info}"></div>
                <div class="progress-bar bg-danger" [ngStyle]="{'width': progress.danger}"></div>
            </div>
        </div>
    </div>
</div>