<div class="row p-4 justify-content-end text-muted">
    <div class="d-flex col-3 justify-content-between">
        <button class="icon-button text-muted fs-5 border-0 bg-white">
            <i class="fas fa-bell"></i>
        </button>
        <button class="icon-button text-muted fs-5 border-0 bg-white">
            <i class="fas fa-comment"></i>
        </button>
        <div class="d-flex user-menu alig-items-center">
            <img [src]="user? user.profilePicture : './assets/icons/no-user.svg'" class="avatar circle-image">
            <button class="btn btn-sm dropdown-toggle" 
                id="navbarDropdownMenuLink" 
                data-bs-toggle="dropdown">
                {{user ? user.getFullName(): 'loading...'}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>