<div class="container-fluid vh-100 p-0 container__overflowx">
    <div class="row h-100 g-0">
        <div class="col-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col">
            <div class="row g-1">
                <div class="col">
                    <app-header-container></app-header-container>
                </div>
            </div>
            <div class="row g-1">
                <div class="col p-5">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>