/* You can add global styles to this file, and also import other style files */
@import "./styles/custom-theme";
@import "../node_modules/bootstrap/scss/bootstrap";

.btn:active {
  border: 0px;
}

.container__overflowx{
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html,
body {
}