/* You can add global styles to this file, and also import other style files */
@import './styles/custom-theme';
@import '../node_modules/bootstrap/scss/bootstrap';

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
