<div class="container-fluid shadow rounded">
    <div class="row">
        <div class="col text-end">
            <a href="" class="nav-link fw-bold">Add Budgets</a>
        </div>
    </div>
    <div class="row" *ngIf="accounts;else loading"> 
        <div class="col">
            <app-gauge class="budget-container" [size]="250" [gap]="60" [strokeWidth]="10" [progress]="spentPercentage">
                <div class="">
                    <img src="./assets/icons/credit-card.svg" height="18px" width="18px" alt="">
                    <div>You'are spent</div>
                    <div class="h2">{{totalSpent | currency}}</div>
                    <div>of <span class="fw-bold">{{budgetLimit | currency}}</span></div>
                </div>
            </app-gauge>
        </div>
    </div>
</div>
<ng-template #loading>loading...</ng-template>